html {
    position: relative;
}

body {
    margin-bottom: 100px;
}

section {
    min-height: 600px;
}

.pengalamanprestasi {
    background-color: #eee;
}

.contact {
    min-height: 800px;
}

footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 100px;
    background-color: #333333;
    padding-top: 30px;
}

footer p {
    color: #aaa;
}